body{
    background-size: cover;
}
#gh{
    color:black;
    font-size: small;
}
.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}
#status , #number_of_objects, #start{
    font-size: 18px;
}
.copy_right_footer{
    position:fixed;
    color:grey;
    bottom:0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    
animation-name:example;
animation-duration:4s;
animation-iteration-count: infinite;
}
@keyframes example {
from {box-shadow: 1px 1px 38px rgb(165, 26, 204);}
to{box-shadow:1px 1px 3px rgb(205, 137, 209);}
}